<div class="container">
    <div class="content">
        <app-title title="Sumar Comanda" fontSize="1.6rem"></app-title>
        <div class="summary">
            <div>
                <h3>Nume:</h3>
                <span>{{order.name}}</span>
            </div>
            <div>
                <h3>Adresa:</h3>
                <span>{{order.address}}</span>
            </div>
        </div>
        <app-order-items-list [order]="order"></app-order-items-list>
    </div>
    <div class="buttons-container">
        <div class="buttons">
        </div>
    </div>
</div>