<header>
    <div class="container">
        <a routerLink="/" class="logo">Pistachio Bliss Bakery</a>
        <nav>
            <ul>
                <li *ngIf="!isAuthenticated">
                    <a routerLink="/login">Login</a>
                </li>
                <li *ngIf="isAuthenticated" class="menu-container">
                    <a routerLink="/dashboard">{{user.name}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profilul meu</a>
                        <a routerLink="/orders">Comenzi</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">
                        Coșul meu <span *ngIf="cartQuantity">{{cartQuantity}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>